# Copyright (c) 2024 Google LLC.
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_WCH_CH32V00X_HSE=y
CONFIG_SOC_WCH_CH32V00X_PLL=y
CONFIG_SOC_WCH_CH32V00X_HSE_AS_PLLSRC=y
CONFIG_SOC_WCH_CH32V00X_PLL_AS_SYSCLK=y

CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y
CONFIG_GPIO=y
CONFIG_WATCHDOG=y
