/*
 * Copyright (c) 2020 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd5xx19.dtsi>

/ {
	model = "Adafruit ItsyBitsy M4 Express";
	compatible = "adafruit,itsybitsy-m4-express", "atmel,atsamd51g19a", "atmel,samd51";

	chosen {
		zephyr,console = &sercom3;
		zephyr,shell-uart = &sercom3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,flash-controller = &gd25b16c;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&porta 22 0>;
			label = "LED";
		};
	};
};

&cpu0 {
	clock-frequency = <120000000>;
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
};

&sercom1 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	dipo = <3>;
	dopo = <0>;

	#address-cells = <1>;
	#size-cells = <0>;
};

&qspi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	gd25b16c: gd25b16c@0 {
		compatible = "gigadevice,gd25b16c", "jedec,spi-nor";
		label = "GD25B16C";
		reg = <0>;
		spi-max-frequency = <1000000>;
		size = <DT_SIZE_M(2)>;
		jedec-id = [c8 40 15];
		has-be32k;
		has-dpd;
		status = "okay";
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "uf2";
			reg = <0x00000000 DT_SIZE_K(16)>;
			read-only;
		};

		code_partition: partition@0x4000 {
			label = "code";
			reg = <DT_SIZE_K(16) DT_SIZE_K(512-8-16)>;
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application.
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@7c000 {
			label = "storage";
			reg = <DT_SIZE_K(512-16) DT_SIZE_K(16)>;
		};
	};
};
