# Copyright (c) 2024 Google LLC.
# SPDX-License-Identifier: Apache-2.0

config PWM_WCH_GPTM
	bool "WCH General-purpose Timer (GPTM)"
	default y
	depends on DT_HAS_WCH_GPTM_ENABLED
	select PINCTRL
	help
	  PWM driver WCH CH32V00x GPTM such as TIM2 on the CH32V003
