# Kconfig - Atmel SAMD MCU series configuration options
*
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_SAMD

config SOC_SERIES
	string
	default samd

config SOC_PART_NUMBER
	string
	default samd21g18a if SOC_PART_NUMBER_SAMD21G18A

config NUM_IRQS
	int
	default 29

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 48000000

endif # SOC_SERIES_SAMD
