# Kconfig - Atmel SAMD MCU series
#

config SOC_SERIES_SAMD
	bool "Atmel SAMD MCU"
	select CPU_CORTEX_M
	select CPU_CORTEX_M0PLUS
	select SOC_FAMILY_SAM
	select SYS_POWER_LOW_POWER_STATE_SUPPORTED
	select CPU_HAS_SYSTICK
	select ASF
	help
	  Enable support for Atmel SAMD Cortex-M0+ microcontrollers.
